# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
.venv/
ENV/
env/
ENV/local/
ENV/lib/

# Local databases & user uploads
project.db
app/static/uploads/products/*
!app/static/uploads/products/.gitkeep

# Sensitive environment configs
.env
.flaskenv

# IDE / OS files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
Thumbs.db
ehthumbs.db
Desktop.ini

# Node.js and compiled desktop binaries
node_modules/
dist-exe/
